.task-1 {
    text-transform: uppercase;
}


.task-2 {
    text-transform: lowercase;
}

.task-3 {
    text-transform: capitalize;
}


.task-4 {
    text-transform: uppercase;
}


.task-5 {
    text-transform: lowercase;
}


.task-6-1 {
    text-transform: uppercase;
}

.task-6-2 {
    text-transform: lowercase;
}

.task-6-3 {
    text-transform: capitalize;
}


.task-7 {
    text-transform: capitalize;
}


.task-8 {
    text-transform: uppercase;
}


.task-9 {
    text-transform: capitalize;
}


.task-10-h1 {
    text-transform: uppercase;
}

.task-10-h2 {
    text-transform: lowercase;
}

.task-10-h3 {
    text-transform: capitalize;
}