body {
    height: 100vh;
}

#parent {
    width: 50%;
    height: 25%;
    background-color: red;
}

body {
    height: 100vh;
}

#parent {
    width: 25%;
    height: 25%;
    background-color: red;
}

body {
    height: 100vh;
}

#parent {
    width: 100%;
    height: 25%;
    background-color: red;
}

body {
    height: 100vh;
}

#parent {
    width: 75%;
    height: 25%;
    background-color: red;
}