.task-11 {
    font-size: 26px;
}

.task-11 ul {
    font-size: 90%;
}


.task-12 {
    font-size: 38px;
}

.task-12 p {
    font-size: 110%;
}


.task-13 {
    font-size: 42px;
}

.task-13 h5 {
    font-size: 70%;
}


.task-14 {
    font-size: 34px;
}

.task-14 input {
    font-size: 1.2em;
}


.task-15 {
    font-size: 20px;
}

.task-15 label {
    font-size: 1.5em;
}


.task-16 {
    font-size: 64px;
}

.task-16 h1 {
    font-size: 0.5em;
}


.task-17 {
    font-size: 18px;
}

.task-17 span {
    font-size: 3em;
}


.task-18 {
    font-size: 45px;
}

.task-18 p {
    font-size: 40%;
}


.task-19 {
    font-size: 52px;
}

.task-19 button {
    font-size: 150%;
}

.task-20 {
    font-size: 22px;
}

.task-20 strong {
    font-size: 2.5em;
}