
.btn:hover {
  background-color: green;
  color: white;
}

.custom-link:visited {
  color: purple;
}

.btn:active {
  transform: scale(0.98);
}


.input-box:focus {
  border: 2px solid blue;
  outline: none;
}